<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <header class="text-bg-dark d-flex flex-wrap align-items-center justify-content-center py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"> <h1>KKSC</h1> </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-white">프로젝트</a></li>
            <li><a href="#" class="nav-link px-2 text-white">QnA</a></li>
            <li><a href="#" class="nav-link px-2 text-white">자유게시판</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-light me-2">로그인</button>
            <button type="button" class="btn btn-warning">회원가입</button>
        </div>
    </header>

</div>
</html>