<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
<!--    본문 영역 입니다.-->
    <div id="carouselExampleInterval" class="carousel slide w-50 m-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="https://place-hold.it/600x400" class="d-block w-100">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="https://place-hold.it/500x500" class="d-block w-100">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="image/image2.jpeg" class="d-block w-100">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

</html>